/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
/*	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/

/*css bioler plate*/
/*Try not to use the important character(1mportant!) it wasn't neccessary */

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html{
    box-sizing: border-box;
}



#box{
display: flex;
flex-direction: row;
border: none;
align-items: center;
width: 100%;
max-width: 1450px;
max-width: 1450px;
justify-content: space-evenly;
padding: 30px 5px;
}

h1{
    display: flex;
    border: none;
    flex-grow: .2;
    font-size: 12px;
    justify-content: center;
    font-family: sans-serif;
    font-family: 'Poppins', sans-serif;
}

h2{
    display: flex;
    border: none;
    flex-grow: .2;
    font-size: 35px;
    font-family: sans-serif;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

sup{
    font-size: 20px;
}

#box2 h1{
    color: white;
    font-family: 'Poppins', sans-serif;
}
 li{
     border-bottom: 1px solid rgb(214, 200, 200);
    width: 200px; 
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    }

    li:last-of-type{
        border-bottom: none;
        font-family: 'Poppins', sans-serif;
    }

ul li{
    margin-left: -50px;
    line-height: 3em;
    font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;
}
ul{
    display: flex;
    flex-direction: column;
 border: none;
 width: 150px;  
 justify-content: center;
 align-items: center;
 margin-top: -20px; 
 font-family: sans-serif;
 font-size: 14px;
 font-family: 'Raleway', sans-serif;
 font-family: 'Poppins', sans-serif;
}

#box1{
    margin-top: 82.5px;
    font-family: 'Poppins', sans-serif;
}

a{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100px;
    margin: 0 auto;
    margin-left: -40px;
    color: white;
    background-color: blue;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color: blue;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#vibe{
    display: flex;
    margin-left: 40px;
    border: none;
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 12px;
    font-family: sans-serif;
    padding: 10px 15px;
    border-radius: 20px;
    width: 70px;
    align-items: center;
    margin-left: 3px;
    color: white;
    background-color: blue;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#vibe:hover{
    color: white;
    background-color: rgb(66, 66, 250);
    font-family: 'Poppins', sans-serif;
}

a[href*="google"]{
    color: black!important;
    background-color: white!important;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a[href*="google"]:hover{
    background-color: red!important;
    color: white!important;   
    font-family: 'Poppins', sans-serif; 
}



.apim{
    margin-left: 0px;
    border-radius: 20px;
    padding: 10px 0px;
    font-size: 12px;
    color: white;
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}

.apim:hover{
    color: red;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#box3 .apim.sapa:hover{
background-color: rgb(64, 64, 241);
color: white;
}

#box2{
    background-color: 	blue;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#box2 li{
    border-bottom: 1px solid white;
    font-family: 'Poppins', sans-serif;
}

#box2 li:last-of-type{
    border-bottom: none;
}

@media screen and (max-width:965px){
    #box{
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        padding: 30px 5px;
        font-size: 20px;
        }
        #box2 li{
            border-bottom: 1px solid rgb(214, 200, 200);
            font-family: 'Poppins', sans-serif;
        }

        #box2 h1{
            color: black;
            font-family: 'Poppins', sans-serif;
        }

h4{
    margin-top: -60px;
    margin-left: 10px;
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    font-family: 'Poppins', sans-serif;
}

a[href*="google"]{
    color: white!important;
    background-color: blue!important;
    font-family: 'Poppins', sans-serif;
}

#box2{
    margin-top: 50px;
    background-color: white;
    padding: 0px 0px;
    border-radius: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
}
#box3{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

#box4{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
}

@media screen and (max-width:2000px) and (min-width:965px){
    h4{
        display: none;
    }
}